button{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 7px 20px;
    background-color: rgb(91, 168, 255);
    color: white;
    border: none;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 1000px;
    margin: 5px;
}
span{
    font-size: 20px;
    padding: 2px 7px;
}
.highlight-yellow {
    color: yellow;
  }
  
  .highlight-white {
    color: white;
  }