<div class="pos">
    <div class="background">
        <p>questions:{{questindex}}/{{questions.length}}</p>
        <h3>{{question.quest}}</h3>
        <hr>
        <!-- <label class="full-width-button" for="answer1"><input [(ngModel)]="choice" type="radio" id="answer1" name="answer" value="{{question.answers[0].answer}}">
            {{question.answers[0].answer}}
        </label><br>
        <label class="full-width-button" for="answer2"><input [(ngModel)]="choice" type="radio" id="answer2" name="answer" value="{{question.answers[1].answer}}">
            {{question.answers[1].answer}}
        </label><br>
        <label class="full-width-button" for="answer3">
        <input [(ngModel)]="choice" type="radio" id="answer3" name="answer" value="{{question.answers[2].answer}}">
            {{question.answers[2].answer}}
        </label><br> -->
        <div *ngFor="let i of question.answers; let index = index" class="answers">
            <label class="full-width-button" [for]="'radio-' + index">
              <input [(ngModel)]="choice1" type="radio" [id]="'radio-' + index" name="radioGroup" [value]="index">
              {{i}}
            </label>
          </div>
        <button (click)="nextQuestion()">Next</button>
    </div>
</div>