<div class="pos">
    <div class="background">
        <p>questions:{{questindex}}/{{questions.length}}</p>
        <h3>{{question.quest}}</h3>
        <hr>
        <div *ngFor="let i of question.answers; let index = index" class="answers">
            <label class="full-width-button" [for]="'radio-' + index">
              <input [(ngModel)]="choice1" type="radio" [id]="'radio-' + index" name="radioGroup" [value]="index">
              {{i}}
            </label>
          </div>
          <p class="error">{{error}}</p>
        <button (click)="nextQuestion()">Next</button>
    </div>
</div>