.main{
    display: flex;
    justify-content: space-around;
    min-height: 100vh;
    align-items: center;
    background-image: url("../../assets/background.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 30px;
    flex-wrap: wrap;
}
.subjects, .addquizz{
    padding-top: 30px;
    background-color: rgba(255, 255, 255, 0.738);
    border-radius: 5px;
}
.subjects{
    width: 500px;
    padding: 20px;
    height: calc(100vh - 300px);
    overflow-y: auto;
    
}
input{
    margin-top: 5px;
    margin-bottom: 15px;
    width: 220px;
    border: 1px solid gray;
    border-radius: 3px;
    margin-bottom: 3px !important;
}
input:focus{
    outline: 1.5px solid blueviolet;
}
.padding{
    padding: 20px;
}
h3, p {
    text-align: center;
}
hr{
    margin: 0px;
    margin-top: 20px;
}
h3{
    margin: 0px;
}
input, .create{
    width: 250px;
    display: block;
    border-radius: 3px;
}
.create{
    border: none;
    background-color: rgb(18, 203, 77);
    color: white;
    padding: 3px;
    margin-bottom: 20px;
}
input{
    margin-top: 5px;
}