<div class="nav">
    <div class="main">
    <app-logo></app-logo>
        <ul>
            <li><span routerLink="/">welcome</span>
                <div class="hrpos">
                    <hr>
                </div>
                <div class="desc">
                    <p>Code and practice await you on this website.</p>
                </div>
            </li>
            <li><span routerLink="/quizzes">quizzes</span>
                <div class="hrpos">
                    <hr>
                </div>
                <div class="desc">
                    <p>Discover our collection of quizzes and select your desired one.</p>
                </div>
            </li>
        </ul>
        <a [hidden]="!local">{{username}}
            <div class="setting">
                <button routerLink="/favourites">Favourites</button>
                <button (click)="LogOut()" style="color: red; font-weight: 600;">Log Out</button>
            </div>
        </a>
    </div>
</div>