.pos{
    display: flex;
    justify-content: center;
    margin-top: 70px;
}
.background{
    background-color: white;
    padding-top: 50px;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-width: 350px;
    max-width: 450px;
}
button{
    width: 200px;
    padding: 7px;
    border: none;
    background-color: royalblue;
    margin-top: 30px;
    color: white;
    border-radius: 5px;
    font-weight: 700;
    margin-bottom: 10px;
}
h2, hr{
    width: 100%;
    text-align: center;
}